Repository lit/lit.dev, pull requests merged in 2022-05, with the labels that each got.

#802 [tutorial] rename my-element to date-display & add code check to step 2
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/00/after/date-display.ts
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/00/after/index.html
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/00/after/project.json
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/00/before/date-display.ts
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/00/before/index.html
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/00/before/project.json
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/01/before/_check-code.js
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/01/before/date-display.ts
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/01/before/index.html
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/01/before/project.json
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/02/after/date-display.ts
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/02/after/index.html
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/02/after/project.json
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/02/before/date-display.ts
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/02/before/index.html
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/02/before/project.json
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/03/before/date-display.ts
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/03/before/index.html
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/03/before/project.json
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/04/before/date-display.ts
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/04/before/index.html
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/04/before/project.json
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/05/before/date-display.ts
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/05/before/index.html
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/05/before/project.json
  packages/lit-dev-content/samples/tutorials/custom-attribute-converter/tutorial.json
Labels: Tutorial

#791 Reactivity tutorial
  packages/lit-dev-content/samples/tutorials/async-directive/tutorial.json
  packages/lit-dev-content/samples/tutorials/reactivity/00/before/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/00/before/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/00/before/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/01/after/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/01/after/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/01/after/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/01/before/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/01/before/my-element.js
  packages/lit-dev-content/samples/tutorials/reactivity/01/before/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/01/before/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/02/after/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/02/after/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/02/after/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/02/before/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/02/before/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/02/before/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/03/after/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/03/after/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/03/after/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/03/before/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/03/before/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/03/before/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/04/after/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/04/after/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/04/after/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/04/before/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/04/before/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/04/before/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/05/after/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/05/after/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/05/after/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/05/before/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/05/before/my-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/05/before/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/06/before/bye-element.ts
  packages/lit-dev-content/samples/tutorials/reactivity/06/before/index.html
  packages/lit-dev-content/samples/tutorials/reactivity/06/before/project.json
  packages/lit-dev-content/samples/tutorials/reactivity/description.md
  packages/lit-dev-content/samples/tutorials/reactivity/tutorial.json
  packages/lit-dev-content/site/tutorials/content/reactivity/00.md
  packages/lit-dev-content/site/tutorials/content/reactivity/01.md
  packages/lit-dev-content/site/tutorials/content/reactivity/02.md
  packages/lit-dev-content/site/tutorials/content/reactivity/03.md
  packages/lit-dev-content/site/tutorials/content/reactivity/04.md
  packages/lit-dev-content/site/tutorials/content/reactivity/05.md
  packages/lit-dev-content/site/tutorials/content/reactivity/06.md
  packages/lit-dev-content/site/tutorials/tutorials.11tydata.js
Labels: ship: at risk, Tutorial

#815 Aside applies the indentation of content
  packages/lit-dev-tools-cjs/src/playground-plugin/plugin.ts
Labels: ship: delayed

#794 launch the lit tutorial catalog
  packages/lit-dev-content/site/_includes/site-nav.html
  packages/lit-dev-content/site/blog/2021-09-21-announcing-lit-2.md
  packages/lit-dev-content/site/css/tutorial.css
  packages/lit-dev-content/site/docs/getting-started.md
  packages/lit-dev-content/site/home/6-explore.html
  packages/lit-dev-content/site/tutorial/index.html
  packages/lit-dev-content/site/tutorials/view.html
  packages/lit-dev-content/src/components/litdev-tutorial.ts
  packages/lit-dev-server/src/middleware/tutorials-middleware.ts
  packages/lit-dev-server/src/redirects.ts
  packages/lit-dev-tests/known-good-urls.txt
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/backendErrorWritingGist-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/gistDoesNotExist-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareGist-1-shareMenuOpen-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareGist-2-signedIn-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareGist-3-snackbarOpen-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareGist-4-pageReloaded-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareGist-5-renamingFile-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareGist-6-addingFile-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareGist-7-shareMenuOpenAgain-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareGist-8-gistUpdated-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareGist-9-pageReloadedAgain-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareLongUrl-1-shareMenuOpen-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareLongUrl-2-snackbarOpen-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/shareLongUrl-3-pageReloaded-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/userClosesGitHubAuthWindowTooEarly-linux.png
  packages/lit-dev-tests/src/playwright/playground.spec.js-snapshots/userDeclinesGithubAuth-linux.png
  packages/lit-dev-tests/src/playwright/tutorials.spec.js-snapshots/introToLitTutorialFirstStep-linux.png
  packages/lit-dev-tests/src/playwright/tutorials.spec.ts
Labels: Tutorial Infra
